@media (max-width: 1024px) {
  .layout-container {
    flex-direction: column;
  }

  .cover-aside {
    overflow: hidden;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    top: 1rem;
    right: 1rem;
    position: absolute;
  }

  .main-content {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 4rem;
  }

  hr {
    width: 75%;
    min-width: 0;
  }

  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 640px) {
  .cover-aside {
    display: none;
  }

  .main-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}