.cert-item {
  border: 2px solid var(--border-strong);
  border-radius: 10px;
  background-color: var(--background-subtle);
  width: fit-content;
  padding: 10px;
  display: flex;
  position: relative;

}

.cert-item__degree {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--foreground);
  display: block;
}

.cert-item__meta {
  color: var(--foreground-muted);
  display: block;
}

.cert-item__details {
  margin-top: 0.5rem;
  color: var(--foreground);
}

.cert-item__badge {
  display: inline-block;
  height: 60px;
  width: 60px;
  font-size: .5rem;
  vertical-align: middle;
  color: var(--border);
}