.experience-item {

}

/* Title Styling */
.experience-item__title {
  font-family: var(--heading-font), sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--foreground);
}

/* Metadata Styling */
.experience-item__meta {
  color: var(--foreground-muted);
}

/* Description Styling */
.experience-item__description {
  margin-top: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: var(--foreground);
}

/* Highlights Styling */
.experience-item__highlights {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--foreground-muted);
  margin-left: 2rem;
}

.experience-item__highlights li::marker {
  color: var(--border-strong);
}

/* Experience Item Divider */
.experience-item:not(:last-child) {
  border-image: linear-gradient(90deg,var(--border-strong) 0%, rgba(255, 255, 255, 0) 100%) 1;
  border-style: solid;
  border-width: 0 0 2px 0;
  padding-bottom: 2rem;
}