.experience-item {

}

.experience-item__title {
  font-family: var(--heading-font), sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--foreground);
}

.experience-item__meta {
  color: var(--foreground-muted);
}

.experience-item__description {
  margin-top: 0.5rem;
  color: var(--foreground);
}
