.download-resume {
  border: solid 3px var(--border-strong);
  border-radius: 10px;
  position: absolute;
  width: fit-content;
  place-items: center;
  right: 5rem;
  padding: 0.5rem 1rem;
  background-color: var(--background);
  font-weight: bold;
  font-size: 1.25rem;
  font-family: var(--heading-font), sans-serif;
}